/*
  Placeholder for styles for the basic page
 */

 .social-sharing-buttons{
  flex-direction: column;
}

 #social-share-none{
  display: none;
}

#social-share-left-side{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50px;
  top: 35%;
}

.social-sharing-buttons__button:hover{
  padding-left: 25px;
  transition: 0.5s ease;
}