/*
 * Styles for hero unit paragraph
 *
 */

.paragraph.paragraph--type--hero-unit {
  font-size: 120%;
  margin-bottom: 1em;
}

.paragraph.paragraph--type--hero-unit.size-large {
  padding: 100px 2rem;
}

.paragraph.paragraph--type--hero-unit.size-large h2 {
  font-size: 250%;
}

.paragraph.paragraph--type--hero-unit.size-medium {
  padding: 2rem;
}

.paragraph.paragraph--type--hero-unit.size-small {
  padding: 1rem;
  font-size: initial;
}

.ucb-overlay-dark {
  background-color: rgba(20, 20, 20, 0.5);
  background-blend-mode: overlay;
}

.ucb-overlay-light {
  background-color: rgba(200, 200, 200, 0.7);
  background-blend-mode: overlay;
}
