{#
/**
 * @file
 * Theme to implement the newsletter section article
 *
 * Created by Joshua Nicholson on 5/3/22
*
#}

{{ attach_library('ucb2021_base/ucb-events-calendar') }}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% block paragraph %}
	<div{{attributes.addClass(classes)}}>
        {{ content }}
    </div>
{% endblock paragraph %}