{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    paragraph.field_text_align.value,
    paragraph.field_text_color.value
  ]
%}

{{ attach_library('ucb2021_base/ucb-video-reveal') }}

{% block paragraph %}
	<div class="video-reveal-div" id="hello" onclick="videoRevealReplacement()">
		<div id="video-image-div">
			{{ content.field_video_reveal_image|render }}
			<div class="centered">
				<i class="far fa-play-circle"></i>
				<p id="p">{{ content.field_video_reveal_text|render }}</p>
			</div>
		</div>
		<div class="video-reveal-video" id="video_reveal">
      <i class="fas fa-times close-out-video"></i>
			{{content.field_video_reveal_video|render}}
		</div>
	</div>

{% endblock paragraph %}
