{#
/**
 * Theme layout to display a UCB Breadcrumb Region page.
 *
 * Created by jsparks on 6/18/19
 */
#}

{% if content|render %}
  <div class="ucb-footer-content-row row background-black">
    <div class="col text-left">
      {{ content }}
    </div>
  </div>
{% endif %}
