
{% if items %}
	<div class="materialDiv">
		<span class="materialSpan stepTitle">Materials:</span>
		{% for item in items %}
			<ul class = "stepText">
					<li class="materialValue">{{ item.content }}</li>
			</ul>
		{% endfor %}
	</div>
{% endif %}
